
#form #msgname{
	margin: 0 0 0 5px;
	width: 90%;
}

#form #email{
	margin: 5px 0 0 5px;
	width: 90%;
}

#form #subject{
	margin: 5px 0 0 5px;
	width: 90%;
}
#form #msg{
	margin: 5px 0 0 5px;
	
}

#form #submit {
margin: 5px 0 0 5px;
display:block;
}