body
{
	margin:0;
	padding:0;
	background:url(images/1.jpg);
	background-size:cover;
	font-family:sans-serif;	
}
.loginsec
{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:350px;
	height:420px;
	padding:80px 40px;
	box-sizing:border-box;
	background:rgba(0,0,0,.5);
}
.logpic
{
	width:100px;
	height:100px;
	border-radius:50%;
	overflow:hidden;
	position:absolute;
	top:calc(-100px/2 );
	left:calc(50% - 50px);
}
h3
{
	margin:0;
	padding:0 0 20px;
	color:#efed40;
	text-align:center;
}
.loginsec p
{
	 margin:0;
	 padding:0;
	 front-weight:bold;
	 color:#fff;
}
.loginsec input[type="text"],
.loginsec input[type="password"]
{
	border:none;
	border-bottom:1px solid #fff;
	background:transparent;
	outline:none;
	height:40px;
	color:#fff;
	font-size:16px;
	
}
::placeholder
{
	color:rgba(255,255,255,.5);
}
.loginsec button[type="submit"]
{
	border:none;
	outline:none;
	height:40px;
	color:#fff;
	font-size:16px;
	background:#ff267e;
	cursor:pointer;
	border-radius:20px;
	text-align:center;
}
.loginsec button[type="submit"]:hover
{
	background:#efed40;
	color:#262626;
}
.loginsec a
{
	color:#fff;
	font-size:14px;
}
.loginsec a:hover
{
	color:#efed40;
}